body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form__section {
  border: 1px solid #ddd;
  padding: 50px;
  margin: 100px;
}
.input__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.input__section input {
  padding: 10px;
}
.form-btn__section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.form-btn{
  padding: 5px;
  min-width: 10%;
  cursor: pointer;
}